<div class="modal fade show d-block" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title">{{ data.title }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <p>{{ data.message }}</p>
        <form [formGroup]="formGroup" class="row gap-3" autocomplete="off" novalidate>
          <div class="form-group">
            <label for="numProjeto" class="form-label">Número</label>
            <input type="text" class="form-control" formControlName="numProjeto">
            <app-invalid-feedback [field]="f['numProjeto']"></app-invalid-feedback>
          </div>
          <div class="form-group">
            <label for="nomProjeto" class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="nomProjeto">
            <app-invalid-feedback [field]="f['nomProjeto']"></app-invalid-feedback>
          </div>
          <div class="form-group">
            <label for="desProjeto" class="form-label">Descrição</label>
            <input type="text" class="form-control" formControlName="desProjeto">
            <app-invalid-feedback [field]="f['desProjeto']"></app-invalid-feedback>
          </div>
          <div class="form-group">
            <label for="dtaVotacao" class="form-label">Data votação</label>
            <input type="date" class="form-control" formControlName="dtaVotacao">
            <app-invalid-feedback [field]="f['dtaVotacao']"></app-invalid-feedback>
          </div>
          <div class="form-group">
            <label for="dtaVotacao" class="form-label">Liberada para votação</label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flgVotacaoProj" switch
                formControlName="flgVotacaoProj">
              <label class="form-check-label" for="flgVotacaoProj">
                Sim
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="close()">Cancelar</button>
        <button class="btn btn-primary" (click)="confirm()">Criar</button>
      </div>
    </div>
  </div>
</div>