<div class="min-vh-100 d-flex flex-column justify-content-center align-items-center px-2">
  <!-- <app-loader></app-loader> -->
  <div class="card shadow w-100" style="max-width: 500px;">
    <div class="text-center mt-5">
      <strong class="fs-1">Login</strong>
    </div>

    <form [formGroup]="formLogin" class="card-body row gap-3 my-5" (submit)="login()" autocomplete="off" novalidate>

      <!-- Email -->
      <div class="form-group col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" tabindex="1" formControlName="email">
        <app-invalid-feedback [field]="f['email']"></app-invalid-feedback>
      </div>

      <!-- Password -->
      <div class="form-group col-12">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" tabindex="2"
            formControlName="password">
          <button type="button" tabindex="5" class="bi input-group-text rounded-end text-dark"
            [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="showPassword = !showPassword"></button>
        </div>
        <app-invalid-feedback [field]="f['password']"></app-invalid-feedback>
      </div>

      <!-- Submit Button -->
      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary btn-lg" tabindex="4">NEXT</button>
      </div>
    </form>
  </div>
</div>